lab4/soa-lab4.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="32b161fa-b3fc-4c6d-8288-b3b06370a82c" >
		<http:listener-connection host="0.0.0.0" port="8182" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="2e5405a4-2e21-4398-94cc-f963ea514881" >
		<wsc:connection wsdlLocation="http://localhost:34131/Service/SecondService?wsdl" service="SecondService" port="HelloPort" address="http://localhost:34131/Service/SecondService" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="soa-lab4-count-flow" doc:id="19ebe820-c9ec-4a43-99f9-ebdb5186f847" >
		<http:listener doc:name="Listener" doc:id="f31516cf-2961-43cf-b84f-d8de8e2e7a19" config-ref="HTTP_Listener_config" path="/isu/statistics/count-expelled">
			<http:response >
				<http:headers ><![CDATA[#[output application/java
---
{
 "Access-Control-Allow-Origin" : "*",
 "Access-Control-Allow-Methods" : "GET, PUT, POST, DELETE, HEAD, OPTIONS",
 "Access-Control-Allow-Headers" : "*",
 "Access-Control-Allow-Credentials" : "true"
}]]]></http:headers>
			</http:response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="90756498-c46d-4209-a92a-434b7f7885c6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml skipNullOn="everywhere"

ns ser http://service.ws.sample/
---
ser#countExpelledAllTime: {}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="countExpelledAllTime" doc:name="Consume" doc:id="356075dc-d77a-4d7e-92b8-e9b71e18a554" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="0f9db0b4-aa66-4d9b-a86a-17c49640e4b6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"

ns ns0 http://service.ws.sample/
---
{
    "expelledStudentCount": payload.body.ns0#countExpelledAllTimeResponse.return.expelledStudentCount	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="eb5f9a36-ed3c-4782-ab33-20bda8b83f78" type="WSC:SOAP_FAULT" >
				<ee:transform doc:name="Transform Message" doc:id="b143261c-535d-482b-bfad-e2635e45a9aa" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"

var detail = error.errorMessage.payload
---
{
	message: error.detailedDescription,
	time: now() as String { format: "yyyy-MM-dd'T'HH:mm:ss'Z'" }
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="soa-lab4-expel-flow" doc:id="d663a60c-5407-4c4c-99bd-b55a502c1109" >
		<http:listener doc:name="Listener" doc:id="4e728995-7e7a-4bce-985f-d10256eca345" config-ref="HTTP_Listener_config" path="/isu/group/{id}/expel-all" >
			<http:response >
				<http:headers ><![CDATA[#[output application/java
---
{
 "Access-Control-Allow-Origin" : "*",
 "Access-Control-Allow-Methods" : "GET, PUT, POST, DELETE, HEAD, OPTIONS",
 "Access-Control-Allow-Headers" : "*",
 "Access-Control-Allow-Credentials" : "true"
}]]]></http:headers>
			</http:response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="9afa1ac8-f37c-4836-b1d8-4a276b43ef58" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml skipNullOn="everywhere"

ns ser http://service.ws.sample/
---
ser#expelAllStudentsInGroup: {
	id: attributes.uriParams['id']
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="expelAllStudentsInGroup" doc:name="Consume" doc:id="5fe73dc3-2601-4505-9da6-ee6e16f1d329" config-ref="Web_Service_Consumer_Config" />
		<ee:transform doc:name="Transform Message" doc:id="7910b54d-6466-4c5f-a6f8-57e563f41590">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"

ns ns0 http://service.ws.sample/
---
{
    "expelledStudentCount": payload.body.ns0#expelAllStudentsInGroupResponse.return.expelledStudentCount
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="95706e9c-66be-4b09-a6e9-678f9df11b68" type="WSC:SOAP_FAULT">
				<ee:transform doc:name="Transform Message" doc:id="09539480-65b8-4b11-9b84-d25140940b02" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"

var detail = error.errorMessage.payload
---
{
	message: error.detailedDescription,
	time: now() as String { format: "yyyy-MM-dd'T'HH:mm:ss'Z'" }
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
